{% extends "base.html" %}

{% block content %}
  <div class="page-header text-center">
    <h1>Vituttaako.com!</h1>
    <p>Vituttaako.com on verkkosivu, jolla voit kertoa mikä mieltäsi painaa. Jaa asiat jotka sinua eniten nyppivät, nyt täysin anonyymisti!</p>
  </div>

  {% if messages %}
  <div class="alert alert-warning">
    <strong>Varoitus!</strong>
     {% for message in messages %}
      {{message}}
     {% endfor %}
  </div>
  {% endif %}

    <form class="share-story" method="post" action="{{base_path}}/tallennatarina">
    <div class="form-group">
      <label for="comment">Mieltäni painaa:</label>
      <textarea class="form-control" rows="15" id="story" name="story"></textarea>
    </div>
    <div class="form-group">
      <label for="categories">Kategoria</label><br>
        {% for category in categories %}
      <div class="checkbox-inline">
        <label class="checkbox"><input type="checkbox" value="{{category.id}}">{{category.category}}</label>
      </div>
      {% endfor %}
    </div>
    <button class="btn btn-success btn-large send-button col-md-offset-3" type="submit">Lähetä</button>
  </form>

  <div class="col-md-6">
   <h2 class="text-center">Uusimmat</h2>

   <table class="table table-striped">
     <thead>
       <tr>
         <th>Käyttäjä</th>
         <th>Tarina</th>
       </tr>
     </thead>
     <tbody>
       {% for story in newestStories %}
       <tr>
         <td>{{story.createdby}}</td>
         <td>{{story.story}}</td>
       </tr>
      {% endfor %}
     </tbody>
   </table>

  </div>

  <div class="col-md-6">
    <h2 class="text-center">Parhaimmat</h2>
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Käyttäjä</th>
        <th>Tarina</th>
      </tr>
    </thead>
    <tbody>
      {% for story in bestStories %}
      <tr>
        <td>{{story.createdby}}</td>
        <td>{{story.story}}</td>
      </tr>
        {% endfor %}
    </tbody>
  </table>
  </div>
{% endblock %}
