{% extends "base.html" %}

{% block content %}
<div id="custom-search-input">
    <div class="input-group col-md-12">
        <input type="text" class="form-control input-lg" placeholder="Etsi tarinaa vapaasti" />
        <span class="input-group-btn">
            <button class="btn btn-info btn-lg" type="button">
                <i class="glyphicon glyphicon-search"></i>
            </button>
        </span>
    </div>
</div>
<br>
<div class="text-center">
  <h2>Hae tarinat kategorioittain</h2>
    <a href="{{base_path}}/selaa"><button class="btn btn-info">Kaikki</button></a>
  <a href="{{base_path}}/selaa/1"><button class="btn btn-info">Vitutus</button></a>
  <a href="{{base_path}}/selaa/2"><button class="btn btn-info">Masennus</button></a>
  <a href="{{base_path}}/selaa/3"><button class="btn btn-info">Fuck Everything</button></a>
  <a href="{{base_path}}/selaa/4"><button class="btn btn-info">Antaa olla</button></a>
</div>


<table class="table table-striped">
<thead>
  <tr>
    <th>Käyttäjä</th>
    <th>Tarina</th>
    <th>Samaa mieltä?</th>
  </tr>
</thead>
<tbody>
  {% for story in stories %}
  <tr><a href="{{base_path}}/tarina/{{story.id}}">
    <td>{{story.createdby}}</td>
    <td>{{story.story}}</td>
    <td>
      <a href="{{base_path}}/tarina/{{story.id}}">
        <button class="btn btn-info btn-margin">Kommentoi</button>
      </a>
        <button class="btn btn-success btn-margin">Vituttaa!</button>
        <button class="btn btn-danger">Älä valita!</button>
    </td>
  </tr>
  {% endfor %}
</tbody>
</table>
{% endblock %}
