{% extends "base.html" %}

{% block content %}
<div id="custom-search-input">
    <div class="input-group col-md-12">
        <input type="text" class="form-control input-lg" placeholder="Etsi tarinaa vapaasti" />
        <span class="input-group-btn">
            <button class="btn btn-info btn-lg" type="button">
                <i class="glyphicon glyphicon-search"></i>
            </button>
        </span>
    </div>
</div>
<br>
<div class="text-center">
  <label for="best-stories" class="btn btn-info">Parhaimmat <input type="checkbox" id="best-stories" class="badgebox"><span class="badge">&check;</span></label>
  <label for="worst-stories" class="btn btn-info">Huonoimmat <input type="checkbox" id="worst-stories" class="badgebox"><span class="badge">&check;</span></label>
  <label for="newest-stories" class="btn btn-info">Uusimmat <input type="checkbox" id="newest-stories" class="badgebox"><span class="badge">&check;</span></label>
  <label for="oldest-stories" class="btn btn-info">Vanhimmat <input type="checkbox" id="oldest-stories" class="badgebox"><span class="badge">&check;</span></label>
</div>

<div class="text-center">
<nav aria-label="Page navigation">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">4</a></li>
    <li class="page-item"><a class="page-link" href="#">5</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>
</div>

<table class="table table-striped">
<thead>
  <tr>
    <th>Käyttäjä</th>
    <th>Tarina</th>
    <th>Samaa mieltä?</th>
  </tr>
</thead>
<tbody>
  {% for story in stories %}
  <tr><a href="{{base_path}}/tarina/{{story.id}}">
    <td>{{story.createdby}}</td>
    <td>{{story.story}}</td>
    <td>
      <a href="{{base_path}}/tarina/{{story.id}}">
        <button class="btn btn-info btn-margin">Kommentoi</button>
      </a>
        <button class="btn btn-success btn-margin">Vituttaa!</button>
        <button class="btn btn-danger">Älä valita!</button>
    </td>
  </tr>
  {% endfor %}
</tbody>
</table>
{% endblock %}
