{% extends "base.html" %}
{% block content %}


{% if messages %}
<div class="alert alert-warning">
  <strong>Varoitus!</strong>
   {% for message in messages %}
    {{message}}
   {% endfor %}
</div>
{% endif %}

{% if comment %}
<div class="alert alert-success">
  <strong>Onnistui!</strong>
    {{message}}
</div>
{% endif %}

<table class="table table-striped">
<thead>
  <tr>
    <th>Käyttäjä</th>
    <th>Tarina</th>
    <th>Pisteet</th>
    <th>Samaa mieltä?</th>
  </tr>
</thead>
<tbody>
  {% for storyitem in story %}
  <tr>
    <td>{{storyitem.createdby}}</td>
    <td>{{storyitem.story}}</td>
    <td>{{storyitem.points}}</td>
    <td><button class="btn btn-success btn-margin">Vituttaa!</button><button class="btn btn-danger">Älä valita!</button></td>
  </tr>
</tbody>
</table>

<h2>Kommentoi</h2>
<form method="post" action="{{base_path}}/tallennakommentti/{{storyitem.id}}">
{% endfor %}
<div class="form-group">
  <textarea class="form-control" rows="5" name="comment" id="comment"></textarea>
</div>
<button class="btn btn-success" type="submit">Lähetä</button>
</form>
<br>
<h2>Kommentit</h2>
{% for comment in comments %}
<div class="panel panel-default">
<div class="panel-heading">
<strong>{{comment.createdby}}</strong> <span class="text-muted">Kommentoi {{comment.updated}}</span>
</div>
<div class="panel-body">
{{comment.comment}}
</div><!-- /panel-body -->
</div><!-- /panel panel-default -->
{% endfor %}

{% endblock %}
