{% extends "base.html" %}

{% block content %}
<h1>Parhaiten arvostellut tarinat</h1>

<table class="table table-striped">
<thead>
  <tr>
    <th>Sija</th>
    <th>Käyttäjä</th>
    <th>Tarina</th>
    <th>Pisteitä</th>
  </tr>
</thead>
<tbody>
  <tr>
    <th>1.</th>
    <td>Seppo</td>
    <td>Kävin paskalla ja vessapaperi loppui! Ai että kun pistää vihaksi.</td>
    <td>150</td>
  </tr>
  <tr>
    <th>2.</th>
    <td>Anonyymi</td>
    <td>Olin juuri menossa bussiin, ensinnäkin matkakortista oli loppunut aika ja sen lisäksi lompakkoni levisi lattialle... Lue lisää</td>
    <td>120</td>
  </tr>
</tbody>
</table>
{% endblock %}
